body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0d0d0d;
  color: #f9f9f9;
  text-align: center;
}

.logo {
  width: 80px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.title {
  color: #f9a825;
  margin: 0;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
  text-align: left;
}

.subtitle {
  font-size: 0.9rem;
  color: #bdbdbd;
}

.card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(249, 168, 37, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #f9f9f9;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #333;
}

th {
  background-color: #f9a825;
  color: #0d0d0d;
}

td {
  text-align: center;
}
